/* import fonte Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* import fonte Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .column {
    grid-template-columns: 0fr;
  }
  .hidden-scroll {
    overflow: auto;
    scrollbar-width: none;
  }

  .hidden-scroll::-webkit-scrollbar {
    display: none;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #151515;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-default: "Poppins", sans-serif;

  --background-color: #fafafa;
  --white: #fff;
  --black: #000;

  --main-color: #ff5151;
  --secondary-color: #ff9b6a;
  --tertiary-color: #161e54;

  --primary-title-color: #303030;
  --primary-subtitle-color: #686868;
  --secondary-title-color: #303030;

  --blue-color-paragraph: #3786f1;
  --pink-color-paragraph: #ee61cf;
}

.marginTop-25 {
  margin-top: -35px;
}

.height-30rem {
  height: 30rem;
}

.badge {
  background-color: #151515;
}

.hidden-scroll-x {
  ::-webkit-scrollbar {
    display: none;
  }
}
